NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
POSTMARK_SERVER_TOKEN=
POSTMARK_FROM_EMAIL=
CRON_SECRET=
ALLOWED_EMAIL_1=
ALLOWED_EMAIL_2=
APP_URL=http://localhost:3000
